<section class="bg-amber-400 px-4 py-12 md:py-20 xl:px-0">
  <div
    class="mx-auto flex w-full max-w-6xl flex-col items-center justify-between gap-6 sm:flex-row"
  >
    <div>
      <h2
        class="text-center text-3xl font-bold tracking-tighter text-pretty sm:text-left md:text-4xl"
      >
        Find us
      </h2>
      <p class="mt-2 text-pretty text-stone-900">
        We are located in <strong>Biddeford, Maine</strong>
      </p>
    </div>
    <iframe
      class="aspect-video w-full sm:w-[500px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d400.6508278884239!2d-70.5127595197388!3d43.47537172928051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb2a5005c34346f%3A0x5ecc05bda59fcc81!2sPEPPER'S%20Mexican%20Cousine!5e0!3m2!1sen!2sus!4v1747160493904!5m2!1sen!2sus"
      title="Google Maps to Pepper's"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
