---
import { orderUrl, socialLinks } from "~/constants";
---

<section class="bg-white px-4 py-12 md:py-20 xl:px-0">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-between gap-6 sm:flex-row"
  >
    <div>
      <h2 class="text-3xl font-bold tracking-tighter md:text-4xl">
        Order online
      </h2>
      <p class="m mt-3 max-w-prose text-stone-500 sm:mt-2">
        Order online for pickup or delivery through our partners at FoodBooking
        and DoorDash.
      </p>
    </div>
    <div class="flex w-full flex-col gap-4 sm:w-72">
      <a
        href={orderUrl}
        class="rounded-md border border-transparent bg-amber-400 px-6 py-3 text-center font-medium text-amber-900 transition-colors hover:bg-amber-300"
      >
        Order pickup
      </a>
      <a
        href={socialLinks.DoorDash}
        class="flex items-center justify-center gap-2 rounded-md border border-amber-900 px-6 py-3 text-center font-medium text-amber-900 transition-colors hover:bg-amber-900 hover:text-white"
      >
        <svg class="h-6 fill-current" viewBox="0 0 24 24"
          ><path
            d="M23.071 8.409a6.09 6.09 0 0 0-5.396-3.228H.584A.589.589 0 0 0 .17 6.184L3.894 9.93a1.752 1.752 0 0 0 1.242.516h12.049a1.554 1.554 0 1 1 .031 3.108H8.91a.589.589 0 0 0-.415 1.003l3.725 3.747a1.75 1.75 0 0 0 1.242.516h3.757c4.887 0 8.584-5.225 5.852-10.413"
          ></path></svg
        ><span>Order delivery</span>
      </a>
    </div>
  </div>
</section>
